# **Transact-SQL**

### [The Building Blocks to SQL Server Programming](https://drive.google.com/file/d/1UTuTraPWyKHiMxRy84eSM1UsUR8CfT-7/view?usp=sharing)  

**By Gregory A. Larsen**

## **Chapter 1 - The Basic SELECT Statement**

### **The Three Parts in a SELECT Statement**

A basic **SELECT** statement that returns data from a single table consists of three different parts: The Column list, the **FROM** clause, and the **WHERE** Clause. The syntax for constructing a basic SELECT statement using these different components looks like:

In [ ]:
SELECT <Column List>
FROM <table name>
WHERE <where criteria>

The _**\<Column List\>**_ will contain a list of columns that you want to returned from the query, _**\<table\_name\>**_ will contain the table from which the data is selected, and the **_\<where criteria\>_** will identify the search criteria that will be used to constrain the rows that will be returned from the SELECT statement. Note that the WHERE clause is optional.

In [2]:
SELECT  ProductCategoryID,
        NAME
FROM    Production.ProductCategory
WHERE   ProductCategoryID < 2 ;

ProductCategoryID,NAME
1,Bikes

Here I selected two different collumns, _**ProductCategoryID**_ and Name, from the **_Production.ProductCategory_** table. Since this **SELECT** statement has a WHERE clause, it limits the rows returned from the table to only those rows that have a _ProductCategoryID_ value less tha 2.

### **The Column List**

The colummn list follows the SELECT keyword and is where you specify the columns you want to return from your table. The columns are identified by specifying the column name. If multiple columns are listed, they are separeted by commas. In later chapters, we'll look at the possibilities for returning values other than columns from the specified table. In this chapter, we're sticking to the basics. Building on the example above, let's explore what a column list might look like if it only selects a single column or all of the columns of a table.

If I only wanted to return the **_Name_** column of the **_Production.ProductCategory_** table my query would look like with this:

In [1]:
SELECT  Name
FROM    Production.ProductCategory
WHERE   ProductCategoryID < 2;

Name
Bikes

Here you can see I only specified only the Name column between the SELECT and FROM keywords in the above query. But if I wanted to specify all of the columns in the Production.ProductCategory table, I would run the following query:

In [2]:
SELECT  ProductCategoryID ,
        Name ,
        rowguid ,
        ModifiedDate
FROM    Production.ProductCategory
WHERE   ProductCategoryID < 2 ;

ProductCategoryID,Name,rowguid,ModifiedDate
1,Bikes,cfbda25c-df71-47a7-b81b-64ee161aa37c,2008-04-30 00:00:00.000